---
title: blog.tibidat
layout: base
---
{% for post in paginator.posts %}
    <article>
        <header>
            <span class="date">{{ post.date | date: '%x' }}</span>
            <h2><a href="{{ post.url }}" class="permalink">{{ post.title }}</a></h2>
            {% if post.tags and post.tags != empty %}
                <small>Tagged: {% for tag in post.tags %}
                    <a href="/tags/{{tag}}.html">{{tag}}</a>{% case forloop.rindex0 %}, {% when 1 %} and {% when 0 %}{% else %}, {% endcase %}
                {% endfor %}</small>
            {% endif %}
        </header>
        {{ post.content }}
    </article>
{% endfor %}
{% if paginator.total_posts > site.paginate %}
    <div id="pagination">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                {% assign prev='/' %}
            {% else %}
                {% capture prev %}/{{ paginator.previous_page }}{% endcapture %}
            {% endif %}
            <a href="{{ prev }}" class="huge">≪</a>
        {% endif %}
        {% if paginator.next_page %}
            {% unless paginator.previous_page %}<span class="placeholder">≪</span>{% endunless %}
            <a href="/{{ paginator.next_page }}" class="huge">≫</a>
        {% else %}
            <span class="placeholder">≫</span>
        {% endif %}
    </div>
{% endif %}
