---
title: blog.tibidat
layout: base
---
{% for post in paginator.posts %}
<article>
    <header>
        <span class="date">{{ post.date | date: '%x' }}</span>
        <h2><a href="{{ post.url }}" class="permalink">{{ post.title }}</a></h2>
    </header>
    {{ post.content }}
</article>
{% unless forloop.last %}<hr>{% endunless %}
{% endfor %}
{% if paginator.total_posts > site.paginate %}
    <div id="pagination">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                {% assign prev='/' %}
            {% else %}
                {% capture prev %}/page{{ paginator.previous_page }}{% endcapture %}
            {% endif %}
            <a href="{{ prev }}" class="huge">≪</a>
        {% endif %}
        {% if paginator.next_page %}
            {% unless paginator.previous_page %}<span class="placeholder">&nbsp;</span>{% endunless %}
            <a href="/page{{ paginator.next_page }}" class="huge">≫</a>
        {% endif %}
    </div>
{% endif %}
