---
layout: base
title: A reading list
---
<h2>{{ page.title }}</h2>

<article>
    {% for category in readinglist %}
        <section>
            <header>
                <h3><em>{{ category.name | capitalize }}</em></h3>
            </header>
            {% for entry in category.entries %}
                <dl>
                    <dt><strong><a href="{{ entry.link }}">{{ entry.title }}</a></strong> — {{ entry.author }}</dt>
                    <dd><small>{{ entry.comment }}</small></dd>
                </dl>
            {% endfor %}
        </section>
    {% endfor %}
    <footer class="notice">Note that all links are Amazon affiliate links.</footer>
<article>