---
layout: base
---
<h3>Posts tagged <em>{{ tag }}</em></h3>

{% for post in p %}
<div class="table">
  <div class="row">
    <div class="cell small em left">{{ post.date | date: '%x'}}</div>
    <div class="cell right">
      <a href="{{ post.url }}">{{ post.title }}</a><br>
    </div>
  </div>
  <div class="row">
    <div class="cell left"></div>
    <div class="cell right">{% if post.tags.size > 0 %}
      <small>Additionally tagged as:&nbsp;{% for t in post.tags %}{% unless t == tag %}
        <a href="/tags/{{ t }}.html">{{ t }}</a>{% case forloop.rindex0 %}{% when 1 %} and {% when 0 %}{% else %}, {% endcase %}{% endunless %}{% endfor %}
      </small>{% endif %}
    </div>
  </div>
</div>
{% endfor %}
