/* includes */
@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import "compass/typography/lists/horizontal-list";

/* vertical rythm */
$base-font-size: 17px;
@include establish-baseline;

/* Font Defs */
$extra-huge: 2.5em;
$huge: 2em;
$extra-large: 1.8em;
$large: 1.5em;
$big: 1.3em;
$bigish: 1.15em;
/* Color Defs */
$red: #BA1204;
$dark-red: #A31105;
$light-red: #CA1000;

/* Helper functions */
@function em_to_px($em) {
    @return  $base-font-size * $em + 0px;
}

/* Defaults */
small {
    font-size: smaller;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
