@import "_base";
@import "_code";
/*
@import "_talaria";
*/

/* Font Defs */
$extra-huge: 2.5em;
$huge: 2em;
$extra-large: 1.8em;
$large: 1.5em;
$big: 1.3em;
/* Color Defs */
$red: #BA1204;
$dark-red: #A31105;
$light-red: #CA1000;

body {
    /*line-height: 1.1em;*/
    /*
    TODO: come up with a way to keep the logo centered on visible content
    background-image: url('/static/img/logo.png');
    background-repeat: no-repeat;
    background-position: 0px 10%;
    */
}

div#nav {
    margin: 1em 0 2em;
    display: inline-table;
    width: 100%;

    #nav-left {
        display: table-cell;
        width: 55%;
    }

    #nav-right {
        display: table-cell;
        margin-left:auto;
        width: 40%;

        a + a {
            padding-left: 1em;
        }
    }
}

div#container {
    width: 600px;
    margin: 1em auto 1em auto;
}

div#pagination {
    width: 4em;
    margin: auto;
    padding-top: 1em;
}

h1 {
    font-size: $huge;
    display: inline;
    font-weight: bold;
}

h2 {
    font-size: $extra-large;
    margin: 0.2em 0 0.2em;
    text-indent: -0.8em;
}

h3 {
    font-size: $big;
    display: inline;
}
small {
    font-size: smaller;
}

ul, ol {
    padding-left: 1.5em;
}

ul {
    list-style: disc;
}

ol {
    list-style: lower-alpha;
}

ol.foot-notes {
    list-style: decimal;
}

a {
    text-decoration: none;
    color: $red;
    font-weight: bold;

    &:visited {
        color: $dark-red;
    }

    &:hover, &:focus {
        color: $red;
        text-shadow: 0.5px 0.5px $light-red;
    }
}

span.whitespace {
    width: 100%;
    display:inline-table;
}

.huge {
    font-size: $extra-huge;
}
span.placeholder {
    /*font-size: $extra-huge;*/
    min-width: $extra-huge;
}

article {
    p {
        padding-bottom: 0.5em;
    }
    #{nest("ul, ol, div,", "+ p")} {
        padding-top: 0.5em;
    }

    header {
        margin-bottom: 1em;
        display: table-row;

        span.date {
            font-style: italic;
            display: table-cell;
            font-size: smaller;
            text-indent: -4em;
            width: 0px;
        }
        a {
            font-weight: normal;
        }

        h2 {
            display: table-cell;
            text-indent: 0;
        }

        + p {
            margin-top: 1em;
        }
    }
}

hr {
    margin: 1em 0 2em;
}