/*
Syntax error: File to import not found or unreadable: compass/reset.
              Load paths:
                /Users/blah/Projects/public/blog.tibidat.com/_sass
                /Users/blah/Projects/public/blog.tibidat.com/_sass
        on line 2 of /Users/blah/Projects/public/blog.tibidat.com/_sass/_base.scss
        from line 1 of /Users/blah/Projects/public/blog.tibidat.com/_sass/main.scss

1: @import "_base";
2: @import "_code";
3: @import "../bower_components/talaria/src/talaria.scss";
4: 
5: body {
6:     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
7: }

Backtrace:
/Users/blah/Projects/public/blog.tibidat.com/_sass/_base.scss:2
/Users/blah/Projects/public/blog.tibidat.com/_sass/main.scss:1
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/import_node.rb:45:in `import'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/tree/root_node.rb:20:in `render'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/engine.rb:315:in `_render'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/engine.rb:262:in `render'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/plugin/compiler.rb:201:in `each'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/exec.rb:443:in `watch_or_update'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/exec.rb:326:in `process_result'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/exec.rb:41:in `parse'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/lib/sass/exec.rb:21:in `parse!'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.17/bin/sass:13:in `<top (required)>'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `load'
/Users/blah/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/reset.\A               Load paths:\A                 /Users/blah/Projects/public/blog.tibidat.com/_sass\A                 /Users/blah/Projects/public/blog.tibidat.com/_sass\A         on line 2 of /Users/blah/Projects/public/blog.tibidat.com/_sass/_base.scss\A         from line 1 of /Users/blah/Projects/public/blog.tibidat.com/_sass/main.scss\A \A 1: @import \"_base\";\A 2: @import \"_code\";\A 3: @import \"../bower_components/talaria/src/talaria.scss\";\A 4: \A 5: body {\A 6:     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;\A 7: }"; }
