@import "_base";
@import "_code";
/*@import "_talaria";*/

body {
    font-family: 'PT Sans Narrow', sans-serif;
    /*
    TODO: come up with a way to keep the logo centered on visible content
    background-image: url('/static/img/logo.png');
    background-repeat: no-repeat;
    background-position: 0px 10%;
    */
}

div#header {
    width: 100%;
    padding-bottom: 1.5rem;

    #nav {
        #nav-left {
            display: table-cell;
            width: 50%;
        }

        #nav-right {
            display: table-cell;
            width: 45%;

            a + a {
                padding-left: 0.5rem;
            }

            a {
                font-size: $bigish;
            }
        }
    }

    #tagline {
        text-align: center;
        display: none;
        padding-top: 1rem;
    }
}

div#container {
    width: 600px;
    margin: 1rem auto 1rem auto;
}

div#pagination {
    width: 4rem;
    margin: auto;
    padding-top: 1rem;
}

div#cloud {
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;

    /*top 5%*/
    a.weight-4 { font-size: $big; }
    /*top 5-20%*/
    a.weight-3 { font-size: $bigish; }
    /*top 20-50%*/
    a.weight-2 { font-size: inherit; }
    /*all others*/
    a.weight-1 { font-size: smaller; }
}

span.placeholder {
    font-size: $extra-huge;
    font-weight: bold;
    color: grey;
}

.huge {
    font-size: $extra-huge;
}

.small {
    font-size: smaller;
}

.em {
    font-style: italic;
}

.cell {
    display: table-cell;
}

.indented {
    text-indent: -1rem;
    width: 0;
    vertical-align: middle;
    font-size: smaller;
}

div.table {
    display: table;
}

div.hidden {
    display: none;
}

div.row {
    display: table-row;
}

div.footnotes ol {
    list-style: decimal;
}

.left {
    padding-right: 1rem;
}

h1 {
    font-size: $huge;
    display: inline;
    font-weight: bold;
}

p {
    margin-bottom: 0.5rem;
}

h2 {
    font-size: $extra-large;
    margin-bottom: 1rem;
}

h3 {
    font-size: $big;
    margin-bottom: 1rem;
}

h4 {
    font-size: $bigish;
}

hr {
    margin: 1rem 0 1rem;
}

dl {
    margin-bottom: 0.5rem;
}

ul, ol {
    padding-left: 1.5rem;
}

ul {
    list-style: disc;
}

ol {
    list-style: lower-alpha;
}

a {
    text-decoration: none;
    color: $red;
    font-weight: bold;

    &:visited {
        color: $dark-red;
    }

    &:hover, &:focus {
        color: $red;
        text-shadow: 0.5px 0.5px $light-red;
    }
}

article, article * {
    position: relative;
}

article {
    + article {
        padding-top: 2rem;
    }
    header {

        span.date {
            font-style: italic;
            display: table-cell;
            font-size: smaller;
            text-indent: -4rem;
            width: 0px;
        }

        a {
            font-weight: normal;
        }

        h2 {
            display: table-cell;
            margin: 0px;
        }

        + p {
            margin-top: 1rem;
        }
    }

    h3, h4 {
        margin-top: 1rem;
    }

    ul, ol, div {
        margin-bottom: 0.5rem;
    }

    footer.notice {
        text-align: center;
    }

    footer.notes {
        font-size: smaller;
    }

    section header {
        padding-bottom: 1rem;
    }

    section + section {
        margin-top: 3rem;
    }
}
