@import "_base";
@import "_code";
@import "../bower_components/talaria/src/talaria.scss";

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 600px) {
    div#logo {
        background: url('/static/img/logo.png') no-repeat;
        width: 80px;
        height: 80px;
        margin-left: -60px;
        position: absolute;
        margin-top: -2rem;
    }
}

@media (max-width: 599px) {
    div#logo {
        background: url('/static/img/logo.png') no-repeat;
        width: 80px;
        height: 80px;
        float: left;
        margin-top: 0.5rem;
    }
}

div#header {
    width: 100%;
    padding-bottom: 1.5rem;
    @media (min-width: 600px) {
        margin: 40px 0 2rem 0;
    }

    #nav {
        padding: 0 1rem 0 1rem;

        #nav-left {
            @media (min-width: 600px) {
                float: left;
            }
            h1 {
                @media (max-width: 599px) {
                    font-size: $extra-large;
                }
            }
        }

        #nav-right {
            @media (min-width: 900px) {
                float: right;
            }
            @media (max-width: 899px) {
                float: left;
                margin: 1rem 0 1rem 0;
            }

            a + a {
                padding-left: 0.5rem;
            }

            a {
                font-size: $bigish;
            }
        }
    }

    #tagline {
        text-align: center;
        display: none;
        padding-top: 1rem;
    }
}

div#container {
    @media (min-width: 600px) {
        width: 75%;
    }
    @media (min-width: 1000px) {
        width: 55%;
    }
    min-width: 300px;
    margin: 1rem auto 1rem auto;
}

div#pagination {
    width: 4rem;
    margin: auto;
    padding-top: 1rem;
}

div#cloud {
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;

    /*top 5%*/
    a.weight-4 { font-size: $big; }
    /*top 5-20%*/
    a.weight-3 { font-size: $bigish; }
    /*top 20-50%*/
    a.weight-2 { font-size: inherit; }
    /*all others*/
    a.weight-1 { font-size: smaller; }
}

span.placeholder {
    font-size: $extra-huge;
    font-weight: bold;
    color: grey;
}

.huge {
    font-size: $extra-huge;
}

.small {
    font-size: smaller;
}

.em {
    font-style: italic;
}

.cell {
    display: table-cell;
}

.indented {
    text-indent: -1rem;
    width: 0;
    vertical-align: middle;
    font-size: smaller;
}

div#sigh {
    border: 0px;
    border-radius: 5px;
    width: 620px;
    height: 411px;
    background: url('http://farm8.staticflickr.com/7310/9949691575_494d1ffa43_z.jpg');
}

div.table {
    display: table;
}

div.hidden {
    display: none;
}

div.row {
    display: table-row;
}

div.footnotes ol {
    list-style: decimal;
}

.left {
    padding-right: 1rem;
}

h1 {
    font-size: $extra-huge;
    display: inline;
    font-weight: bold;
}

p {
    margin-bottom: 0.5rem;
}

h2 {
    font-size: $extra-large;
    margin-bottom: 1rem;
}

h3 {
    font-size: $big;
    margin-bottom: 1rem;
}

h4 {
    font-size: $bigish;
}

hr {
    margin: 1rem 0 1rem;
}

dl {
    margin-bottom: 0.5rem;
}

ul, ol {
    padding-left: 1.5rem;
}

ul {
    list-style: disc;
}

ol {
    list-style: lower-alpha;
}

a {
    text-decoration: none;
    color: $red;

    &:visited {
        color: $dark-red;
    }

    &:hover, &:focus {
        color: $light-red;
        text-decoration: underline;
    }
}

article, article * {
    position: relative;
}

article {
    padding: 0 1rem 0 1rem;
    clear: both;

    + article {
        padding-top: 2rem;
    }
    p.img {
        text-align: center;
    }
    img {
        max-width: 95%;
    }
    header {
        a {
            font-weight: normal;
        }

        h2 {
            margin: 0 0 0.5rem 0;
        }

        + p {
            margin-top: 1rem;
        }
    }

    h3, h4 {
        margin-top: 1rem;
    }

    ul, ol, div {
        margin-bottom: 0.5rem;
    }

    footer.notice {
        text-align: center;
    }

    footer.notes {
        font-size: smaller;
    }

    section header {
        padding-bottom: 1rem;
    }

    section + section {
        margin-top: 3rem;
    }
}
