---
layout: base
---
<article>
  <header>
    <h2>Posts tagged <em>{{ tag }}</em></h2>
  </header>
  <div class="table">
    {% for post in p %}
    <div class="row">
      <div class="cell"><small>{{ post.date | date_to_string }}</small></div>
      <div class="cell padded-cell">—</div>
      <div class="cell larger-text">
        <a href="{{ post.url }}" class="list"># {{ post.title }}</a><br>
      </div>
    </div>
    <div class="row">
      <div class="cell"></div>
      <div class="cell padded-cell"></div>
      <div class="cell">{% if post.tags.size > 0 %}
        <small>Additionally tagged as:&nbsp;{% for t in post.tags %}{% unless t == tag %}
          <a href="/tags/{{ t }}.html">{{ t }}</a>{% case forloop.rindex0 %}{% when 1 %} and {% when 0 %}{% else %}, {% endcase %}{% endunless %}{% endfor %}
        </small>{% endif %}
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="cell"></div>
      <div class="cell padded-cell"></div>
      <div class="cell padding-top"><a href="/tags/">« tag cloud «</a>
      </div>
    </div>
  </div>
</article>
