<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <meta name="description" content="A blog on programming, learning and traveling">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="nav">
            <div id="nav-left">
                <h1><a href="/">{{ site.title }}</a></h1>
            </div>
            <div id="nav-right">
                <a href="/about.html"># About</a>
                <a href="/readinglist.html"># Reading List</a>
            </div>
        </div>
{{content}}
    </div>
</body>