<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="A blog on programming, learning and traveling">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/talaria/dist/talaria.min.js"></script>
    <script type="text/javascript">
        talaria.init({REPOSITORY_NAME: 'm2w.github.com', GITHUB_USERNAME: 'm2w'});
        talaria.ping('/ping.txt');
    </script>
</head>
<body>
    <div id="container">
        <div id="header">
        <div id="logo"></div>
            <div id="nav">
                <div id="nav-left">
                    <h1><a href="/">{{ site.title }}</a></h1>
                </div>
                <div id="nav-right">
                    <a href="/about.html"># About</a>
                    <a href="/readinglist.html"># Reading List</a>
                </div>
            </div>
        </div>
{{content}}
    </div>
    {% include talaria-comment.html %}
</body>
